PORT=3000
NODE_ENV=development

MONGODB_URI=mongodb://localhost:27017/uploads-exercise

JWT_ACCESS_SECRET=change_this_access_secret_in_production_min_32_chars
JWT_REFRESH_SECRET=change_this_refresh_secret_in_production_min_32_chars
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d

# Cloudinary — obtener en cloudinary.com (plan Free)
CLOUDINARY_CLOUD_NAME=tu_cloud_name
CLOUDINARY_API_KEY=tu_api_key
CLOUDINARY_API_SECRET=tu_api_secret
