PORT=3000
NODE_ENV=development

MONGODB_URI=mongodb://localhost:27017/week10-proyecto

JWT_ACCESS_SECRET=change_this_access_secret_in_production_min_32_chars
JWT_REFRESH_SECRET=change_this_refresh_secret_in_production_min_32_chars
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d

FRONTEND_URL=http://localhost:5173

# Cloudinary — cuenta gratuita en cloudinary.com
CLOUDINARY_CLOUD_NAME=tu_cloud_name
CLOUDINARY_API_KEY=tu_api_key
CLOUDINARY_API_SECRET=tu_api_secret

# SMTP para producción (en dev se usa Ethereal automáticamente)
# SMTP_HOST=smtp.gmail.com
# SMTP_PORT=587
# SMTP_SECURE=false
# SMTP_USER=tu_email@gmail.com
# SMTP_PASS=tu_app_password
# EMAIL_FROM="Mi App" <noreply@miapp.com>
