PORT=3000
NODE_ENV=development
FRONTEND_URL=http://localhost:5173
MONGODB_URI=mongodb://localhost:27017/notificaciones_rt
JWT_SECRET=super_secret_key_change_in_production_min_32_chars
JWT_EXPIRES_IN=15m
